Workforce.Logic.Felice/Workforce.Logic.Felice.Domain/Service References/WorkforceServiceReference/FeliceService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ec2-54-173-46-251.compute-1.amazonaws.com/workforce-felice-soap/FeliceService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Workforce.Data.Felice.Soap.ServiceModels" />
  <xs:element name="GetAssociates">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssociatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Workforce.Data.Felice.Soap.ServiceModels" minOccurs="0" name="GetAssociatesResult" nillable="true" type="q1:ArrayOfAssociateDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>