Workforce.Logic.Grace/Workforce.Logic.Grace.Domain/Service References/GraceServiceReference/GraceService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ec2-54-173-46-251.compute-1.amazonaws.com/workforce-grace-soap/GraceService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Workforce.Data.Grace.Soap.ServiceModels" />
  <xs:element name="GetComplexes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComplexesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Workforce.Data.Grace.Soap.ServiceModels" minOccurs="0" name="GetComplexesResult" nillable="true" type="q1:ArrayOfHousingComplexDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApartments">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApartmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Workforce.Data.Grace.Soap.ServiceModels" minOccurs="0" name="GetApartmentsResult" nillable="true" type="q2:ArrayOfApartmentDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHousingData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHousingDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Workforce.Data.Grace.Soap.ServiceModels" minOccurs="0" name="GetHousingDataResult" nillable="true" type="q3:ArrayOfHousingDataDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatuses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Workforce.Data.Grace.Soap.ServiceModels" minOccurs="0" name="GetStatusesResult" nillable="true" type="q4:ArrayOfStatusDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>