Workforce.Logic.Grace/Workforce.Logic.Grace.Domain/Service References/GraceServiceReference/GraceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GraceService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://ec2-54-173-46-251.compute-1.amazonaws.com/workforce-grace-soap/GraceService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://ec2-54-173-46-251.compute-1.amazonaws.com/workforce-grace-soap/GraceService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://ec2-54-173-46-251.compute-1.amazonaws.com/workforce-grace-soap/GraceService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Workforce.Data.Grace.Soap.ServiceModels" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGraceService_GetComplexes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetComplexes" />
  </wsdl:message>
  <wsdl:message name="IGraceService_GetComplexes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetComplexesResponse" />
  </wsdl:message>
  <wsdl:message name="IGraceService_GetApartments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApartments" />
  </wsdl:message>
  <wsdl:message name="IGraceService_GetApartments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetApartmentsResponse" />
  </wsdl:message>
  <wsdl:message name="IGraceService_GetHousingData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHousingData" />
  </wsdl:message>
  <wsdl:message name="IGraceService_GetHousingData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHousingDataResponse" />
  </wsdl:message>
  <wsdl:message name="IGraceService_GetStatuses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStatuses" />
  </wsdl:message>
  <wsdl:message name="IGraceService_GetStatuses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatusesResponse" />
  </wsdl:message>
  <wsdl:portType name="IGraceService">
    <wsdl:operation name="GetComplexes">
      <wsdl:input wsaw:Action="http://tempuri.org/IGraceService/GetComplexes" message="tns:IGraceService_GetComplexes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGraceService/GetComplexesResponse" message="tns:IGraceService_GetComplexes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetApartments">
      <wsdl:input wsaw:Action="http://tempuri.org/IGraceService/GetApartments" message="tns:IGraceService_GetApartments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGraceService/GetApartmentsResponse" message="tns:IGraceService_GetApartments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHousingData">
      <wsdl:input wsaw:Action="http://tempuri.org/IGraceService/GetHousingData" message="tns:IGraceService_GetHousingData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGraceService/GetHousingDataResponse" message="tns:IGraceService_GetHousingData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStatuses">
      <wsdl:input wsaw:Action="http://tempuri.org/IGraceService/GetStatuses" message="tns:IGraceService_GetStatuses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGraceService/GetStatusesResponse" message="tns:IGraceService_GetStatuses_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGraceService" type="tns:IGraceService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetComplexes">
      <soap:operation soapAction="http://tempuri.org/IGraceService/GetComplexes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApartments">
      <soap:operation soapAction="http://tempuri.org/IGraceService/GetApartments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHousingData">
      <soap:operation soapAction="http://tempuri.org/IGraceService/GetHousingData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatuses">
      <soap:operation soapAction="http://tempuri.org/IGraceService/GetStatuses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GraceService">
    <wsdl:port name="BasicHttpBinding_IGraceService" binding="tns:BasicHttpBinding_IGraceService">
      <soap:address location="http://ec2-54-173-46-251.compute-1.amazonaws.com/workforce-grace-soap/GraceService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>