Workforce.Logic.Grace/Workforce.Logic.Grace.Rest/Service References/GraceServiceReference/GraceService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Workforce.Data.Grace.Soap.ServiceModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Workforce.Data.Grace.Soap.ServiceModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfHousingComplexDao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HousingComplexDao" nillable="true" type="tns:HousingComplexDao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHousingComplexDao" nillable="true" type="tns:ArrayOfHousingComplexDao" />
  <xs:complexType name="HousingComplexDao">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActiveBit" type="xs:boolean" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HotelID" type="xs:int" />
      <xs:element minOccurs="0" name="IsHotel" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HousingComplexDao" nillable="true" type="tns:HousingComplexDao" />
</xs:schema>