Workforce.Logic.Charlie/Workforce.Logic.Charlie.Domain/Service References/WorkforceService/CharlieService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ec2-54-173-46-251.compute-1.amazonaws.com/workforce-charlie-soap/CharlieService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Workforce.Data.Charlie.Soap.ServiceModels" />
  <xs:element name="GetLocations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Workforce.Data.Charlie.Soap.ServiceModels" minOccurs="0" name="GetLocationsResult" nillable="true" type="q1:ArrayOfLocationDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Workforce.Data.Charlie.Soap.ServiceModels" minOccurs="0" name="GetRequestResult" nillable="true" type="q2:ArrayOfRequestDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedule">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Workforce.Data.Charlie.Soap.ServiceModels" minOccurs="0" name="GetScheduleResult" nillable="true" type="q3:ArrayOfScheduleDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRide">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRideResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Workforce.Data.Charlie.Soap.ServiceModels" minOccurs="0" name="GetRideResult" nillable="true" type="q4:ArrayOfRideDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Workforce.Data.Charlie.Soap.ServiceModels" minOccurs="0" name="newlocation" nillable="true" type="q5:LocationDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertLocationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Workforce.Data.Charlie.Soap.ServiceModels" minOccurs="0" name="newrequest" nillable="true" type="q6:RequestDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertRequestResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Workforce.Data.Charlie.Soap.ServiceModels" minOccurs="0" name="newschedule" nillable="true" type="q7:ScheduleDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertScheduleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRide">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Workforce.Data.Charlie.Soap.ServiceModels" minOccurs="0" name="newride" nillable="true" type="q8:RideDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRideResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertRideResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Workforce.Data.Charlie.Soap.ServiceModels" minOccurs="0" name="location" nillable="true" type="q9:LocationDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateLocationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Workforce.Data.Charlie.Soap.ServiceModels" minOccurs="0" name="request" nillable="true" type="q10:RequestDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateRequestResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Workforce.Data.Charlie.Soap.ServiceModels" minOccurs="0" name="schedule" nillable="true" type="q11:ScheduleDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateScheduleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRide">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Workforce.Data.Charlie.Soap.ServiceModels" minOccurs="0" name="ride" nillable="true" type="q12:RideDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRideResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateRideResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Workforce.Data.Charlie.Soap.ServiceModels" minOccurs="0" name="location" nillable="true" type="q13:LocationDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteLocationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Workforce.Data.Charlie.Soap.ServiceModels" minOccurs="0" name="request" nillable="true" type="q14:RequestDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteRequestResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Workforce.Data.Charlie.Soap.ServiceModels" minOccurs="0" name="schedule" nillable="true" type="q15:ScheduleDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteScheduleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRide">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Workforce.Data.Charlie.Soap.ServiceModels" minOccurs="0" name="ride" nillable="true" type="q16:RideDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRideResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteRideResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>