Workforce.Logic.Charlie/Workforce.Logic.Charlie.Domain/Service References/WorkforceService/CharlieService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ec2-54-173-46-251.compute-1.amazonaws.com/workforce-charlie-soap/CharlieService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Workforce.Data.Charlie.Soap.ServiceModels" />
  <xs:element name="GetLocations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Workforce.Data.Charlie.Soap.ServiceModels" minOccurs="0" name="GetLocationsResult" nillable="true" type="q1:ArrayOfLocationDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Workforce.Data.Charlie.Soap.ServiceModels" minOccurs="0" name="GetRequestResult" nillable="true" type="q2:ArrayOfRequestDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedule">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Workforce.Data.Charlie.Soap.ServiceModels" minOccurs="0" name="GetScheduleResult" nillable="true" type="q3:ArrayOfScheduleDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRide">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRideResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Workforce.Data.Charlie.Soap.ServiceModels" minOccurs="0" name="GetRideResult" nillable="true" type="q4:ArrayOfRideDao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>