Workforce.Logic.Charlie/Workforce.Logic.Charlie.Tests/Service References/WorkforceService/CharlieService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CharlieService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://ec2-54-173-46-251.compute-1.amazonaws.com/workforce-charlie-soap/CharlieService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://ec2-54-173-46-251.compute-1.amazonaws.com/workforce-charlie-soap/CharlieService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://ec2-54-173-46-251.compute-1.amazonaws.com/workforce-charlie-soap/CharlieService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Workforce.Data.Charlie.Soap.ServiceModels" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICharlieService_GetLocations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLocations" />
  </wsdl:message>
  <wsdl:message name="ICharlieService_GetLocations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLocationsResponse" />
  </wsdl:message>
  <wsdl:message name="ICharlieService_GetRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRequest" />
  </wsdl:message>
  <wsdl:message name="ICharlieService_GetRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRequestResponse" />
  </wsdl:message>
  <wsdl:message name="ICharlieService_GetSchedule_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSchedule" />
  </wsdl:message>
  <wsdl:message name="ICharlieService_GetSchedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetScheduleResponse" />
  </wsdl:message>
  <wsdl:message name="ICharlieService_GetRide_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRide" />
  </wsdl:message>
  <wsdl:message name="ICharlieService_GetRide_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRideResponse" />
  </wsdl:message>
  <wsdl:message name="ICharlieService_InsertLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertLocation" />
  </wsdl:message>
  <wsdl:message name="ICharlieService_InsertLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertLocationResponse" />
  </wsdl:message>
  <wsdl:message name="ICharlieService_InsertRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertRequest" />
  </wsdl:message>
  <wsdl:message name="ICharlieService_InsertRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertRequestResponse" />
  </wsdl:message>
  <wsdl:message name="ICharlieService_InsertSchedule_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertSchedule" />
  </wsdl:message>
  <wsdl:message name="ICharlieService_InsertSchedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertScheduleResponse" />
  </wsdl:message>
  <wsdl:message name="ICharlieService_InsertRide_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertRide" />
  </wsdl:message>
  <wsdl:message name="ICharlieService_InsertRide_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertRideResponse" />
  </wsdl:message>
  <wsdl:message name="ICharlieService_UpdateLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLocation" />
  </wsdl:message>
  <wsdl:message name="ICharlieService_UpdateLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLocationResponse" />
  </wsdl:message>
  <wsdl:message name="ICharlieService_UpdateRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRequest" />
  </wsdl:message>
  <wsdl:message name="ICharlieService_UpdateRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRequestResponse" />
  </wsdl:message>
  <wsdl:message name="ICharlieService_UpdateSchedule_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSchedule" />
  </wsdl:message>
  <wsdl:message name="ICharlieService_UpdateSchedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateScheduleResponse" />
  </wsdl:message>
  <wsdl:message name="ICharlieService_UpdateRide_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRide" />
  </wsdl:message>
  <wsdl:message name="ICharlieService_UpdateRide_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRideResponse" />
  </wsdl:message>
  <wsdl:message name="ICharlieService_DeleteLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLocation" />
  </wsdl:message>
  <wsdl:message name="ICharlieService_DeleteLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLocationResponse" />
  </wsdl:message>
  <wsdl:message name="ICharlieService_DeleteRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRequest" />
  </wsdl:message>
  <wsdl:message name="ICharlieService_DeleteRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRequestResponse" />
  </wsdl:message>
  <wsdl:message name="ICharlieService_DeleteSchedule_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSchedule" />
  </wsdl:message>
  <wsdl:message name="ICharlieService_DeleteSchedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteScheduleResponse" />
  </wsdl:message>
  <wsdl:message name="ICharlieService_DeleteRide_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRide" />
  </wsdl:message>
  <wsdl:message name="ICharlieService_DeleteRide_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRideResponse" />
  </wsdl:message>
  <wsdl:portType name="ICharlieService">
    <wsdl:operation name="GetLocations">
      <wsdl:input wsaw:Action="http://tempuri.org/ICharlieService/GetLocations" message="tns:ICharlieService_GetLocations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICharlieService/GetLocationsResponse" message="tns:ICharlieService_GetLocations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/ICharlieService/GetRequest" message="tns:ICharlieService_GetRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICharlieService/GetRequestResponse" message="tns:ICharlieService_GetRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSchedule">
      <wsdl:input wsaw:Action="http://tempuri.org/ICharlieService/GetSchedule" message="tns:ICharlieService_GetSchedule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICharlieService/GetScheduleResponse" message="tns:ICharlieService_GetSchedule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRide">
      <wsdl:input wsaw:Action="http://tempuri.org/ICharlieService/GetRide" message="tns:ICharlieService_GetRide_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICharlieService/GetRideResponse" message="tns:ICharlieService_GetRide_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/ICharlieService/InsertLocation" message="tns:ICharlieService_InsertLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICharlieService/InsertLocationResponse" message="tns:ICharlieService_InsertLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/ICharlieService/InsertRequest" message="tns:ICharlieService_InsertRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICharlieService/InsertRequestResponse" message="tns:ICharlieService_InsertRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertSchedule">
      <wsdl:input wsaw:Action="http://tempuri.org/ICharlieService/InsertSchedule" message="tns:ICharlieService_InsertSchedule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICharlieService/InsertScheduleResponse" message="tns:ICharlieService_InsertSchedule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertRide">
      <wsdl:input wsaw:Action="http://tempuri.org/ICharlieService/InsertRide" message="tns:ICharlieService_InsertRide_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICharlieService/InsertRideResponse" message="tns:ICharlieService_InsertRide_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/ICharlieService/UpdateLocation" message="tns:ICharlieService_UpdateLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICharlieService/UpdateLocationResponse" message="tns:ICharlieService_UpdateLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/ICharlieService/UpdateRequest" message="tns:ICharlieService_UpdateRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICharlieService/UpdateRequestResponse" message="tns:ICharlieService_UpdateRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSchedule">
      <wsdl:input wsaw:Action="http://tempuri.org/ICharlieService/UpdateSchedule" message="tns:ICharlieService_UpdateSchedule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICharlieService/UpdateScheduleResponse" message="tns:ICharlieService_UpdateSchedule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRide">
      <wsdl:input wsaw:Action="http://tempuri.org/ICharlieService/UpdateRide" message="tns:ICharlieService_UpdateRide_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICharlieService/UpdateRideResponse" message="tns:ICharlieService_UpdateRide_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/ICharlieService/DeleteLocation" message="tns:ICharlieService_DeleteLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICharlieService/DeleteLocationResponse" message="tns:ICharlieService_DeleteLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/ICharlieService/DeleteRequest" message="tns:ICharlieService_DeleteRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICharlieService/DeleteRequestResponse" message="tns:ICharlieService_DeleteRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSchedule">
      <wsdl:input wsaw:Action="http://tempuri.org/ICharlieService/DeleteSchedule" message="tns:ICharlieService_DeleteSchedule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICharlieService/DeleteScheduleResponse" message="tns:ICharlieService_DeleteSchedule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRide">
      <wsdl:input wsaw:Action="http://tempuri.org/ICharlieService/DeleteRide" message="tns:ICharlieService_DeleteRide_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICharlieService/DeleteRideResponse" message="tns:ICharlieService_DeleteRide_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICharlieService" type="tns:ICharlieService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLocations">
      <soap:operation soapAction="http://tempuri.org/ICharlieService/GetLocations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequest">
      <soap:operation soapAction="http://tempuri.org/ICharlieService/GetRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchedule">
      <soap:operation soapAction="http://tempuri.org/ICharlieService/GetSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRide">
      <soap:operation soapAction="http://tempuri.org/ICharlieService/GetRide" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertLocation">
      <soap:operation soapAction="http://tempuri.org/ICharlieService/InsertLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertRequest">
      <soap:operation soapAction="http://tempuri.org/ICharlieService/InsertRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertSchedule">
      <soap:operation soapAction="http://tempuri.org/ICharlieService/InsertSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertRide">
      <soap:operation soapAction="http://tempuri.org/ICharlieService/InsertRide" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLocation">
      <soap:operation soapAction="http://tempuri.org/ICharlieService/UpdateLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRequest">
      <soap:operation soapAction="http://tempuri.org/ICharlieService/UpdateRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSchedule">
      <soap:operation soapAction="http://tempuri.org/ICharlieService/UpdateSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRide">
      <soap:operation soapAction="http://tempuri.org/ICharlieService/UpdateRide" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteLocation">
      <soap:operation soapAction="http://tempuri.org/ICharlieService/DeleteLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRequest">
      <soap:operation soapAction="http://tempuri.org/ICharlieService/DeleteRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSchedule">
      <soap:operation soapAction="http://tempuri.org/ICharlieService/DeleteSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRide">
      <soap:operation soapAction="http://tempuri.org/ICharlieService/DeleteRide" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CharlieService">
    <wsdl:port name="BasicHttpBinding_ICharlieService" binding="tns:BasicHttpBinding_ICharlieService">
      <soap:address location="http://ec2-54-173-46-251.compute-1.amazonaws.com/workforce-charlie-soap/CharlieService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>