Workforce.Logic.Charlie/Workforce.Logic.Charlie.Rest/Service References/WorkforceService/CharlieService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Workforce.Data.Charlie.Soap.ServiceModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Workforce.Data.Charlie.Soap.ServiceModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLocationDao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LocationDao" nillable="true" type="tns:LocationDao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLocationDao" nillable="true" type="tns:ArrayOfLocationDao" />
  <xs:complexType name="LocationDao">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Latitude" type="xs:double" />
      <xs:element minOccurs="0" name="LocationId" type="xs:int" />
      <xs:element minOccurs="0" name="Longitude" type="xs:double" />
      <xs:element minOccurs="0" name="StopName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LocationDao" nillable="true" type="tns:LocationDao" />
</xs:schema>