Workforce.Logic.Charlie/Workforce.Logic.Charlie.Rest/Service References/WorkforceService/CharlieService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CharlieService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://ec2-54-173-46-251.compute-1.amazonaws.com/workforce-charlie-soap/CharlieService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://ec2-54-173-46-251.compute-1.amazonaws.com/workforce-charlie-soap/CharlieService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://ec2-54-173-46-251.compute-1.amazonaws.com/workforce-charlie-soap/CharlieService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Workforce.Data.Charlie.Soap.ServiceModels" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICharlieService_GetLocations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLocations" />
  </wsdl:message>
  <wsdl:message name="ICharlieService_GetLocations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLocationsResponse" />
  </wsdl:message>
  <wsdl:message name="ICharlieService_GetRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRequest" />
  </wsdl:message>
  <wsdl:message name="ICharlieService_GetRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRequestResponse" />
  </wsdl:message>
  <wsdl:message name="ICharlieService_GetSchedule_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSchedule" />
  </wsdl:message>
  <wsdl:message name="ICharlieService_GetSchedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetScheduleResponse" />
  </wsdl:message>
  <wsdl:message name="ICharlieService_GetRide_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRide" />
  </wsdl:message>
  <wsdl:message name="ICharlieService_GetRide_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRideResponse" />
  </wsdl:message>
  <wsdl:portType name="ICharlieService">
    <wsdl:operation name="GetLocations">
      <wsdl:input wsaw:Action="http://tempuri.org/ICharlieService/GetLocations" message="tns:ICharlieService_GetLocations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICharlieService/GetLocationsResponse" message="tns:ICharlieService_GetLocations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/ICharlieService/GetRequest" message="tns:ICharlieService_GetRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICharlieService/GetRequestResponse" message="tns:ICharlieService_GetRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSchedule">
      <wsdl:input wsaw:Action="http://tempuri.org/ICharlieService/GetSchedule" message="tns:ICharlieService_GetSchedule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICharlieService/GetScheduleResponse" message="tns:ICharlieService_GetSchedule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRide">
      <wsdl:input wsaw:Action="http://tempuri.org/ICharlieService/GetRide" message="tns:ICharlieService_GetRide_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICharlieService/GetRideResponse" message="tns:ICharlieService_GetRide_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICharlieService" type="tns:ICharlieService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLocations">
      <soap:operation soapAction="http://tempuri.org/ICharlieService/GetLocations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequest">
      <soap:operation soapAction="http://tempuri.org/ICharlieService/GetRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchedule">
      <soap:operation soapAction="http://tempuri.org/ICharlieService/GetSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRide">
      <soap:operation soapAction="http://tempuri.org/ICharlieService/GetRide" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CharlieService">
    <wsdl:port name="BasicHttpBinding_ICharlieService" binding="tns:BasicHttpBinding_ICharlieService">
      <soap:address location="http://ec2-54-173-46-251.compute-1.amazonaws.com/workforce-charlie-soap/CharlieService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>